header{
    border-radius: 8px;
    background-color: rgb(231, 57, 13);
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1:hover{
    color: rgb(122, 37, 15);
}
table{
    color: rgba(204, 126, 24, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
td{
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(79, 58, 40);
    color: aliceblue;
}
body {
    width: 800px;
    margin: 0 auto;
    background-color: #dbafaf;
    padding: 0 180px 180px 180px;  
  }
  img{
    border-radius: 8px;
  }
  a{
    text-decoration: none;
    color: rgb(19, 19, 19);
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
    a:hover{
        color: rgb(252, 55, 6);
    }
    a:active{
        color: rgb(96, 186, 221);
    }
iframe{
    border-radius: 8px;
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
p{
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}